:root {
  --greenyellow: #ADFF2F;
  --chartreuse: #7FFF00;
  --lawngreen: #7CFC00;
  --lime: #00FF00;
  --limegreen: #32CD32;
  --palegreen: #98FB98;
  --lightgreen: #90EE90;
  --mediumspringgreen: #00FA9A;
  --springgreen: #00FF7F;
  --mediumseagreen: #3CB371;
  --seagreen: #2E8B57;
  --forestgreen: #228B22;
  --green: #008000;
  --darkgreen: #006400;
  --yellowgreen: #9ACD32;
  --olivedrab: #6B8E23;
  --olive: #808000;
  --darkolivegreen: #556B2F;
  --mediumaquamarine: #66CDAA;
  --darkseagreen: #8FBC8B;
  --lightseagreen: #20B2AA;
  --darkcyan: #008B8B;
  --teal: #008080;
}
